.btn {
  border: none;
  background-color: #111827;
  color: #efefef;
  cursor: pointer;
  aspect-ratio: 4/4;
  font-weight: bold;
  font-size: 1.4rem;
  outline: none;
  transition: 0.1s ease-in-out;
}

.btn:active {
  opacity: 0.5;
  transform: scale(1.1);
}
