@import url("./media-query.css");

.container {
  width: 300px;
  background-color: #1f2937;
  padding: 1.7rem 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.container .buttons-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 0 0 8px 8px;
}
